@{
    ViewData["Title"] = "Welcome - Weather Forecast";
}
<div class="container text-center">
    <div class="glavniDeo">
    <h1><strong>Welcome to Weather Forecast!!!</strong></h1><br />
    <h4>Explore the weather forecast info for most cities around the world!</h4><br />
    <a asp-action="WeatherForecastPage" asp-controller="WeatherForecast" class="btn">Go to Weather Forecast</a>
    </div>
</div>